{{>header}}
<hgroup>
    <header>
    <h1>Signup</h1>
    </header>
</hgroup>
<form method="post">
    <label>Username: </label>
    <input disabled type="text" name="username" value="{{username}}">
    {{#errors.username}}<label class="error">{{errors.username}}</label>{{/errors.username}}
    <br>
    <label>Password: </label>
    <input type="password" name="password" value="">
    {{#errors.password}}<label class="error">{{errors.password}}</label>{{/errors.password}}
    <br>
    <label>Verify Password: </label>
    <input type="password" name="verify" value="">
    {{#errors.verify}}<label class="error">{{errors.verify}}</label>{{/errors.verify}}
    <br>
    <label>Email (optional): </label>
    <input type="text" name="email" value="{{email}}">
    {{#errors.email}}<label class="error">{{errors.email}}</label>{{/errors.email}}
    <br>
    <input type="submit">
</form>
{{>footer}}