            <footer class="col-md-12">
                <hr>
                &copy; Groupe 14 &mdash; All rights reserved
            </footer>
        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>$(document).ready(function(){$('.rating').each(function(){if(parseInt($(this).text())<1)$(this).removeClass('label-info').addClass('label-warning')})})</script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/rate.js"></script>
        <script src="/js/map.js" defer></script>
        </body>
</html>
