            <footer class="col-md-12">
                <hr>
                &copy; Groupe 14 &mdash; All rights reserved
            </footer>
        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script>$(document).ready(function(){$(".rating").each(function(){if(parseInt($(this).text())<1)$(this).removeClass('label-info').addClass('label-warning')})})</script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/ajax.js"></script>
        <script src="/js/map.js"></script>
        </body>
</html>
