            <footer class="col-md-12">
                <hr>
                &copy; Groupe 14 &mdash; All rights reserved
            </footer>
        </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/ajax.js"></script>
        <script src="/js/map.js"></script>
		<script type="text/javascript">
			$(document).ready( function(){
				$("#rating").each(function() {
					if($(this).val()) $(this).removeClass('label-info').addClass('label-warning');
				}
			}
		</script>
    </body>
</html>
