{{>header}}
<div id="map-canvas" class="col-md-12"></div>

<div id="listRecent" class="font-helv col-md-7">
    <h2><b>Derniers recensements</b></h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ajouté le</th>
                <th>Zone</th>
                <th>Vers</th>
                <th>Type</th>
                <th>Confiance</th>
                <th>Vote</th>
            </tr>
        </thead>
        <tbody>
            {{#signals}}
            <tr onclick="codeAddress('{{zone}}', false)">
                <td><time>{{dateAdded}}</time></td>
                <td>{{zone}}</td>
                <td>{{direction}}</td>
                <td>{{kind}}</td>
                <td><span data-id="{{_id}}" class="rating label label-info">{{rating}}</span></td>
                <td>
                    <form>
                        <button type="button" onclick="rate('{{_id}}', true)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                        <button type="button" onclick="rate('{{_id}}', null)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </form>
                </td>
            </tr>
            {{/signals}}
        </tbody>
    </table>
</div>

<div id="news" class="font-helv col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading panel-title"><b>Dernières nouveautés</b></div>
        <div class="panel-body">
            {{#news}}
            <article>
                <h3>{{title}}</h3>
                <em class="madeBy">&ndash; {{author}} le <time>{{date}}</time></em>
                <p class="text-justify">{{content}}</p>
            </article>
            {{/news}}
        </div>
    </div>
</div>
{{>footer}}
