{{>header}}
<div id="map-canvas" class="col-md-12">   
</div>

<section id="list" class="font-helv col-md-9">
    <h2><b>Liste des recensements</b></h2>
    <table class="table">
        <thead>
            <tr>
                <th>Ajouté le</th>
                <th>Zone</th>
                <th>Vers</th>
                <th>Type</th>
                <th>Confiance</th>
                <th>Vote</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#signals}}
            <tr>
                <td><time>{{dateAdded}}</time></td>
                <td>{{zone}}</td>
                <td>{{direction}}</td>
                <td>{{kind}}</td>
                <td><span class="label label-info">{{rating}}</span></td>
                <td>
                    <form action="#">
                        <button type="button" class="btn btn-success btn-xs" name="upvote"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger btn-xs" name="downvote"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </form>
                </td>
                <td><a href="/list/{{_id}}">Plus d'info</a></td>
                <td>
                    <button type="button" class="btn" onclick="codeAddress('{{zone}}')">afficher sur la carte"</button>
                </td>
            </tr>
            {{/signals}}
        </tbody>
    </table>
</section>

<section id="filtre" class="font-helv col-md-3">
    <h2><b>Rechercher</b></h2>
    <form>
        <fieldset>
            <input type="text" class="form-control" placeholder="Filtrer"><br>
            <label>Type :</label>
            <select class="form-control">
                <option value="" disable selected></option>
                <option>Accident</option>
                <option>Flash</option>
                <option>Ralentissement</option>
                <option>Travaux</option>
            </select><br>
            <label>Région :</label>
            <select multiple class="form-control" size="11">
                <option>Anvers</option>
                <option>Bruxelles</option>
                <option>Braban Flamand</option>
                <option>Braban Wallon</option>
                <option>Flandre-Occidentale</option>
                <option>Flandre-Orientale</option>
                <option>Hainaut</option>
                <option>Liège</option>
                <option>Limbourg</option>
                <option>Luxembourg</option>
                <option>Namur</option>
            </select>
        </fieldset>
    </form>
</section>
{{>footer}}
