{{>header}}
<div id="map-canvas" class="col-md-12"></div>

<div id="list" class="font-helv col-md-9">
    <h2><b>Liste des recensements</b></h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ajouté le</th>
                <th>Zone</th>
                <th>Vers</th>
                <th>Type</th>
                <th>Confiance</th>
                <th>Vote</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-controller="SignalsCtrl">
            <tr ng-repeat="signal in signals | filter:query | filter:kind | filter:region" ng-click="codeAddress(signal.zone, false)">
                <td><time>{[{signal.dateAdded}]}</time></td>
                <td>{[{signal.zone}]}</td>
                <td>{[{signal.direction}]}</td>
                <td>{[{signal.kind}]}</td>
                <td><span class="rating label label-info">{[{signal.rating}]}</span></td>
                <td>
                    <form>
                        <button type="button" ng-click="rate(signal._id, true, this)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                        <button type="button" ng-click="rate(signal._id, null, this)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </form>
                </td>
                <td><a href="/list/{[{signal._id}]}">Plus d'info</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="filtre" class="font-helv col-md-3">
    <h2><b>Rechercher</b></h2>
    <form>
        <fieldset>
            <input type="text" ng-model="query" class="form-control" placeholder="Filtrer"><br>
            <label>Type :</label>
            <select ng-model="kind" class="form-control">
                <option value="" disable selected></option>
                <option>Accident</option>
                <option>Flash</option>
                <option>Ralentissement</option>
                <option>Travaux</option>
            </select><br>
            <label>Région :</label>
            <select ng-model="region" ng-multiple class="form-control" size="12">
                <option>Anvers</option>
                <option>Bruxelles</option>
                <option>Braban Flamand</option>
                <option>Braban Wallon</option>
                <option>Flandre-Occidentale</option>
                <option>Flandre-Orientale</option>
                <option>Hainaut</option>
                <option>Liège</option>
                <option>Limbourg</option>
                <option>Luxembourg</option>
                <option>Namur</option>
            </select>
        </fieldset>
    </form>
</div>

{{>footer}}
