{{>header}}
<div id="map-canvas" class="col-md-12"></div>

<div class="col-md-4 col-md-offset-1">
    <table class="table table-hover">
        <tbody>
            {{#signal}}
            <tr>
                <th>Ajouté le :</th>
                <td><time>{{dateAdded}}</time></td>
            </tr>
            <tr>
                <th>Zone :</th>
                <td>{{zone}}</td>
            </tr>
            <tr>
                <th>Direction :</th>
                <td>{{direction}}</td>
            </tr>
            <tr>
                <th>Type :</th>
                <td>{{kind}}</td>
            </tr>
            <tr>
                <th>Confiance :</th>
                <td>{{rating}}</td>
            </tr>
            <tr>
                <th>Vote :</th>
                <td>
                    <form>
                        <button type="submit" action="/list/up/{{_id}}" class="btn btn-success btn-xs" name="upvote"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                        <button type="submit" action="/list/down/{{_id}}" class="btn btn-danger btn-xs" name="downvote"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </form>
                </td>
            </tr>
            {{/signal}}
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h2>Insert fucking commentaire here !</h2>
</div>
{{>footer}}
