{{>header}}
<div id="map-canvas" class="col-md-12"></div>

<div class="col-md-12">
<h2><b>Plus d'informations sur : </b><small>{{signal.zone}}</small></h2>
</div>

<div class="col-md-8">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ajouté le</th>
                <th>Zone</th>
                <th>Vers</th>
                <th>Type</th>
                <th>Confiance</th>
                <th>Vote</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr onclick="codeAddress('{{signal.zone}}', false);">
                <td><time>{{signal.dateAdded}}</time></td>
                <td>{{signal.zone}}</td>
                <td>{{signal.direction}}</td>
                <td>{{signal.kind}}</td>
                <td><span data-id="{{signal._id}}" class="rating label label-info">{{signal.rating}}</span></td>
                <td>
                    <form>
                        <button type="button" onclick="rate('{{signal._id}}', true)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
                        <button type="button" onclick="rate('{{signal._id}}', null)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="panel panel-default">
        <div class="panel-heading">Complément offert par l'auteur : {{signal.author}}</div>
        <div class="panel-body">{{signal.description}}</div>
    </div>
</div>

<div class="col-md-4">

    <div class="col-md-12">
    {{#comments}}
    <blockquote style="padding: 0 1.71em">
        <span class="text-justify">{{content}}</span>
        <footer>{{author}} le <time>{{date}}</time></footer>
    </blockquote>
    {{/comments}}
    {{^comments}}
        <pre>Il n'y a pas encore de commentaire.</pre>
    {{/comments}}
    </div>

    <!-- Formulaire -->
    {{#username}}
    <form action role="form" method="post">
        <div class="form-group col-md-12" >
            <textarea class="form-control" name="content" rows="2" style="resize:none;width:100%" placeholder="Commentaire"></textarea>
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary btn-sm btn-block">Ajouter</button>
        </div>
    </form>
    {{/username}}
    {{^username}}
    <div class="col-md-12 alert alert-info" role="alert">Vous devez être connecté pour laisser un commentaire.</div>
    {{/username}}
</div>
{{>footer}}
